@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');

body{
    background:linear-gradient(black, rgb(12, 12, 12));
    height: 100vh;
    color:white
}
#color{
    text-decoration: underline orange;
    font-size:25px
}
.logo img{
    width:100px;
    border-radius:100px;
}
.logo{
    display:flex;
    justify-content: space-around;
    width:300px;
    align-items: center
}
header h1{
    font-size:50px;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 4px grey;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
    animation:color infinite alternate 3s
}
header{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
header nav li{
    width:400px;
    display:inline;
    margin-left:50px;
    margin-right:90px
}
header nav li{
    list-style-type: none;
}
header a{
    text-decoration: none;
    font-size:20px;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 4px grey;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
    transition:0.5s
}
header a:hover{
    font-size:25px;
    color:orange;
    text-shadow: 0px 0px 10px white;
}

main h2{
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
    font-size:30px;
    text-align: center;
    animation: color infinite 3s alternate
}
@keyframes color{
    0%{
        color:white;
        text-shadow: 0px 0px 30px grey;
    }
    100%{
        color:orange;
        text-shadow: 2px 2px 20px yellow;
    }
}
section div img{
    border-radius:10px;
    width:200px;
    height:250px;
    padding-left:18%;
    padding-top:20px;
    transition:0.5s;
    cursor:pointer
}
section{ 
    margin-top:30px;
    display:flex;
    justify-content: space-around;
}
section div{
    width:300px
}
section div{
    border-radius:20px;
    animation:color1 infinite 2s alternate
}
@keyframes color1{
    0%{
        box-shadow:0px 0px 20px white
    }
    100%{
        box-shadow:0px 0px 20px orange
    }
}
p{
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size:20px;
    text-shadow: 0px 0px 3px orange;
}
footer{
    background-color: black;
    margin-top:30px;
    display:flex;
    justify-content: space-around;
}
button{
    margin-left:100px;
    width:100px;
    background-color: rgb(0, 255, 0);
    font-size:20px;
    border-radius:20px;
    border-style:none;
    font-weight:400 ;
    color:white;
    margin-bottom:20px;
    cursor:pointer
}